<div class="form-group">
  <label for="book-genre">Select Genre:</label>
  <select class="form-input" id="book-genre-filter" name="book-genre-filter">
    <option value="all">All Genres</option>
    <option value="romance">Romance</option>
    <option value="adventure">Adventure</option>
    <!-- Add more genre options here -->
  </select>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <!-- Rest of the form to add books -->
  </div>

  <div class="col-md-6 book-list">
    <!-- Display books based on the selected genre -->
    <h3>Books to Read:</h3>
    <div class="filtered-books">
      <!-- This section will be filled with filtered books -->
    </div>
  </div>
</div>

<script src="./js/genre.js"></script>