<div class="text-center homepage_container">
  <h2>Welcome to the Library!</h2>
  <h3>Select a genre:</h3>

  <div class="dropdown">
    <button ><a class="genre_btnn" href="/genre/All">Genre Selector</a></button>
  </div>
</div>