* {
  text-decoration: none;
}

header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

body {
  background-image: url('https://images.pexels.com/photos/1290141/pexels-photo-1290141.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  /* Additional properties for background */
  background-size: cover; /* Adjust the size of the background image */
  background-position: center; /* Position the image within the element */
  /* You can add more properties like repeat, attachment, etc. */
}

.text-white {
  color: white; /* Set text color to white */
}
.text-center {
  color: white;
}

/* //////////////////////////////////////////////////////////////// */

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 4;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}



/* ///////////////////// Book Styling /////////////////////////// */
.books_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  flex-flow:row wrap;
}

.book_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  min-width: 48%;
  height: 500px;
}
.book_title, .book_author, .book_genre {
  position: relative;
  z-index: 2;
}
.book_title {
  top: 0px;
}

.add-book {
  z-index: 4;
  background-color: green;
  padding: 10px;
  width: 180px;
  border: none;
  border-radius: 10px;;
}

.cloud_img {
  position: absolute;
  z-index: 0;
}
.image_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info_card {
  color: black;
  width: 50%;
  width: auto;
  height: 130px;
  padding: 10px;
  background-color: rgba(245, 245, 220, 0.781);
  border-radius: 10px;
  z-index:3;
}

/* ///////////// homepage //////////////// */
.homepage_container {
  margin: 50px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(245, 245, 220, 0.877);
  border-radius: 20px;
  height: 60vh;
  color: #1b89bc;
  font-size: 24px;

}
.homepage_container div button {
  border: solid black 1px;
  border-radius: 10px;
  padding: 5px;
  color: black;
}
.homepage_container h2,.homepage_container h3 {
  padding: 30px 0;
  font-size: 40px;
}
.genre_btnn:hover {
  background-color: white;
  text-decoration: none;
}

.login-form,.signup-form {
  padding: 20px;
  border-radius: 10px;
}

.row {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.856);
  border-radius: 10px;
}